# Ignorar la carpeta de módulos de node si la usas en el frontend
node_modules/
# Ignorar archivos de configuración de entorno si los hubiera (ej. .env)
.env
# Ignorar archivos de editor o temporales específicos si los hubiera
.vscode/
*.logd)