# Ignorar archivos temporales o de configuración locales si los hubiera
# .env (aunque el frontend generalmente no tiene .env, es buena práctica si lo hubiera)
# node_modules/ (si usas alguna herramienta de build en el frontend)